*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100vh;
    width: 100%;
}
.backward-layer{
    height: 100%;
    width: 100%; 
    /* background-color: red; */
}
.backward-layer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.forward-layer{
    pointer-events: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: #000000d8; */
}
.center-area{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    position: relative;
    /* border :1px solid red; */
}
.nav{
    pointer-events: all;
    width: 100%;
    height: 10%;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-left img{
    width: 100px;
}
.a-class{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
}
.nav-right{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
}
.mid{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
    /* background-color: red; */
}
.mid-left{
    min-width: 50%;

    /* background-color: yellow; */
}

.element{
    height: 10vw;
    margin-top: -1.5vw;
    position: relative;
    /* background-color: red; */
    overflow: hidden;
}
.element h1{
    text-transform: uppercase;
    position: absolute;
    color: #ffffff;
    font-size: 9vw;
    font-family: 'Kajiro';
    font-weight: 100;
}
.element h1:nth-child(1){
    top: 0;
}
.mid-left button{
    pointer-events: all;
    padding: 0.8vw 4vw;
    font-size: 3vw;
    margin-top: 2vw;
    font-family: 'Kajiro';
}
.mid-right{
    width: 18%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    /* background-color: green; */
}
.mid-right p {
    text-align: right;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}
.mid-right .img-div{
    height: 170px;
    width: 100%;
    margin-top: 10px; 
    margin-bottom: 20px;
    background-image: url('https://media.istockphoto.com/id/1213689105/photo/pretty-young-african-american-woman-with-curly-hair-posing-cheerful-gesturing-on-brown.jpg?s=1024x1024&w=is&k=20&c=1BA6JLBzU6AEuKAy99DlvC_MY_IWssYeO2n6Yxi_0C0=');
    background-size: cover;
}
.mid-right p:nth-child(3){
    margin-bottom: 70px;
}
@media screen and (max-width:630px) {
    .a-class{
        display: none;
    }
}